body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    margin: 0;
    padding: 0;
    color: #333333;
}

header {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
    color: #007bff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #007bff;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 160px); /* Ajuste para que el contenido ocupe todo el alto de la página menos el header y el footer */
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: #007bff;
}

.container p {
    font-size: 18px;
}

.members {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.members li {
    background-color: #007bff;
    color: #ffffff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333333;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 5px 0;
}
